/*
* === MAIN CSS ===
*/

body {
  height: 100%;
  background-color: #333a3a;
}

.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/*
* === HEADING ===
*/

#head {
  width: 100%;
  height: 10%;
  margin:0;
  background-color: #333a3a;
  overflow:auto;
}

#head-text {
  margin:0;
  padding-left: 2%;
  color: white;
  font-size: 50px;
  line-height: 10vh;
}

/*
* === LIST SEGMENT ===
*/
#list-div {
  width: 100%;
  height: 30%;
  overflow:inherit;
  background-color: #333a3a;
}

#input {
  width: 100%;
}

#search-places {
  height: 30px;
  width: 200px;
  font-weight: bold;
  margin-left: 30px;
  border: 1px solid red;
  background: url("./img/search.png") top left no-repeat;
  background-color: #333a3a;
  color: white;
  padding-left: 35px;
}

::placeholder {
    color: white;
}

.button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
}

.service-list {
  height: 30vh;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  margin-bottom: 20px;
  padding: 0;
  list-style-type: none;
}

.service-list:after {
  content: "";
  display: block;
  height: 50px;
  width: 100%;
}

.service-list-item {
  border: 5px solid #722727;
  border-radius: 50px 20px;
  width: 25%;
  height: 25%;
  padding: 20px;
  background: linear-gradient(to bottom right, red, yellow);
  margin: 10px 0 20px 20px;
  display: inline-block;
}


.service-list-item:hover, .selected {
    background: linear-gradient(to bottom right, yellow, blue);
    border: 5px solid blue;
}

.service-list-item:focus {
  background: linear-gradient(to bottom right, orange, black);
  border: 5px solid blue;
}

.service-name {
  font-size: 15px;
  vertical-align: middle;
  display: table-cell;
  margin-bottom: 0em;
}

.service-description {
  margin-top: -1em;
  font-size: 12px;
}

/*
* === MAP SEGMENT ===
*/

.map-div {
  width:50%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

#map {
  height: 50vh;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/*
* === INFORMATION SEGMENT ===
*/

#information-container {
  position:relative;
  float: right;
  display:inline-block;
  width: 50%;
}


#information {
  padding-left: 20px;
  margin-right: 20px;
  color: white;
  border: 2px solid white;
  height: 50vh;
}

#information-core {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.info-img {
  max-height:300px;
  margin: auto;
}

/*
* === RESPONSIVENESS ===
*/

@media only screen and (max-width: 600px) {
    #head-text {
        font-size: 20px;
        text-align: center;
    }

    #search-places {
      margin: 5%;
    }

    .service-list {
      border-bottom: 4px dotted white;
    }

    .service-list-item {
      border: 2px solid #722727;
      border-radius: 0px 0px;
      width: 90%;
      height: auto;
      padding: 1px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    .service-name {
      font-size: 12px;
      vertical-align: middle;
      display: table-cell;
      margin-bottom: 0em;
      padding-left: 5px;
    }

    .service-description {
      margin-top: -1em;
      font-size: 10px;
      padding-left: 5px;
    }

    #map-info-div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .info-img {
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

  #information {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

    #information-container {
      width:100%;
      order: 1;
    }

    #info-header {
      font-size: 16px;
    }

    .map-div {
      margin-top: 10px;
      width: 100%;
      order: 2;
    }

    #information-core {
      margin-left: auto;
      margin-right: auto;
    }
}
